################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WordCount/v15/Server/sqlite3
/WordCount/obj/Debug/netstandard2.0
